{% extends "admin/change_form.html" %}
{% load i18n actions static merge %}

{% block content %}
    <form method="post" action=".">
        {% csrf_token %}
        {% for f in adminform.form.hidden_fields %}{{ f }}{% endfor %}
        {% for f in adminform.form.action_fields %}{{ f }}{% endfor %}
    <table class="table table-bordered">
        <tr>
            <th>{% trans "Key" %}</th>
            <td colspan="2">{{ master.pk }}</td>
        </tr>
    </table>
    <table class="table table-bordered mergetable">
        <tr>
            <th>{% trans "Field" %}</th>
            <th>{% trans "Original" %}</th>
            <th>{% trans "After Merging" %}</th>
        </tr>
        {% for field in fields %}
        <tr>
            <td>{{ master|verbose_name:field.name }}</td>
            <td class="original">
                <span class="display">{{ original|field_display:field.name }}</span>
            </td>
            <td class="result">
                {{ adminform.form|widget:field.name }}
                <span class="display">{{ master|field_display:field.name }}</span>
            </td>
        {% endfor %}
    </table>
    <button class="btn btn-primary" type="submit" name="apply">{% trans "Merge" %}</button>
    </form>
{% endblock %}
